################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hmwebsite/obj/Debug
/packages
.ignore
/hmwebsite/hmwebsite.csproj.user
/hmwebsite/beat/resources/.ignore
/.vs
/hmwebsite/bin
/hmwebsite/obj
