html {
	background-color: #222;
	color: #ccc;
}

select,
input {
	border-color: #4c5e70;
	background-color: #24334155;
	color: #cfdae5;
}

	select option {
		background-color: #243341;
		color: #cfdae5;
	}

a {
	color: #aaf;
}

.page_title {
	/*background-color: rgba(0, 0, 0, .5);*/
	color: white;
}

.page-info {
	color: #cfdae5;
	/*background-color:#202e3b;*/
	/*background-color: rgba(0, 0, 0, .2);*/
}
