body {
	background-color: #eee;
	font-size: 12px;
	color: #555;
}

* {
	margin: 0;
	padding: 0;
	font-family: tahoma,Verdana;
}

a {
	color: #555;
}

.icon-thumbnail {
	display: inline-block;
	border: solid gray 1px;
	border-radius: 5px;
	padding: 2px;
	margin: 1px;
	font-size: 12px;
	background-color: white;
	cursor: pointer;
	text-decoration: none;
}


/*https://css-tricks.com/custom-scrollbars-in-webkit/*/
::-webkit-scrollbar {
	/* 1 */
	width: 10px;
}

::-webkit-scrollbar-button {
	/* 2 */
	background-color: #eee;
	height: 0px;
}

::-webkit-scrollbar-track {
	/* 3 */
	background-color: #eee;
}

::-webkit-scrollbar-track-piece {
	/* 4 */
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	/* 5 */
	background-color: #bbb;
	border: solid 1px #ddd;
	border-radius: 5px;
	width: 8px;
	margin: 1px;
}

::-webkit-scrollbar-corner {
	/* 6 */
}

::-webkit-resizer {
	/* 7 */
}
