html {
  background-color: #222;
  color: #eee;
}
select,
input {
  border-color: #4c5e70;
  background-color: #24334155;
  color: #cfdae5;
}
select option {
  background-color: #243341;
  color: #cfdae5;
}
.buttonizer .option {
  border-color: #555;
  background-color: #202020;
}
.buttonizer .option:hover {
  border-color: #333;
  background-color: #555;
}
.buttonizer .option.selected {
  border-color: #555;
  background-color: #559;
}
.button {
  border-color: #555;
  background-color: #202020;
}
.button:hover {
  border-color: #333;
  background-color: #555;
}
.button.selected {
  border-color: #555;
  background-color: #559;
}
.item {
  background-color: #191919;
}