:root {
  --volume-slider: #2ecc71;
  --volume-handle: #fff;
}
html {
  background-color: #222;
  color: #ccc;
}
input[type=button] {
  background-color: #222;
  color: #ccc;
}
input[type=text],
input[type=number] {
  background-color: #111;
  color: #ccc;
  border-color: #444;
}