.album {
  border: solid 1px gray;
  border-radius: 3px;
  padding: 10px;
  margin: 2px;
  display: inline-block;
}
.album .album-cover {
  width: 250px;
}
@media (max-width: 400px) {
  .album .album-cover {
    width: 100%;
  }
}
.album .platform_link {
  display: inline-block;
  margin-top: 5px;
}
.album .platform_link img {
  height: 20px;
}
body,
html {
  background-color: black;
}
.album {
  background-color: #333;
}