body {
	/*background-color:#243341;*/
	background-color: white;
	background-image: none;
	background-image: url("bg-default.jpg");
}

* {
	margin: 0;
	padding: 0;
	font-family: tahoma, Verdana;
	/*color:#a4a4a4;*/
	/*font-size:16px;*/
}

.preview {
	background-color: #fffe;
}

#btnTheme {
	color: gray;
	border: solid 1px gray;
	border-radius: 3px;
	font-size: 12px;
	padding: 3px;
	cursor: pointer;
	margin: 3px 3px 3px 55px;
}

a {
	/*text-decoration:none;*/
	color: inherit;
}

hr {
	border-top: solid 1px #eee;
	border-bottom: none;
	margin: 2px 0 2px 0;
}

.page-info {
	color: #333;
	font-size: 10px;
	padding: 2px;
	background-color: rgba(255, 255, 255, .5);
}

.page_title {
	font-size: 20px;
	padding: 5px;
	color: black;
	background-color: rgba(255, 255, 255, .5);
}

label {
	font-size: 12px;
	padding-left: 2px;
	color: #222;
	min-width: 73px;
	display: inline-block;
}

select,
input {
	width: 270px;
	/*min-height:35px;*/
	/*background-color:#0c0c0c;*/
	background-color: rgba(255, 255, 255, .7);
	border-radius: 2px;
	border: 1px solid gray;
	color: #222;
	padding: 7px 5px 7px 5px;
}

select option {
	color: #222;
	font-size: 14px;
	background-color: white;
}

input {
	/*padding:5px;*/
	width: 258px;
}

.item {
	border: solid 1px #999;
	padding: 2px;
	border-radius: 2px;
	margin-top: 1px;
	margin-right: 1px;
	width: 97%;
	width: calc(100% - 6px);
	width: -webkit-calc(100% - 6px);
	width: -moz-calc(100% - 6px);
	/*max-width:414px;
				max-width:335px;
				max-width:309px;*/
	background-color: #f5f5f5;
	display: inline-block;
	/*height: 142px;*/
}

.item-description {
	font-size: 12px;
	color: #333;
	/*max-height: 50px;*/
	height: 53px;
	overflow-y: auto;
}

.item-version {
	font-size: 12px;
	color: #333;
	/*max-height: 50px;*/
}

.item-title {
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.item-path {
	font-size: 12px;
	color: #005;
	/*max-width: 300px;
	border: solid 1px red;*/
}

.item {
	.box, .image-box {
		padding: 5px;
		border-radius: 2px;
	}

	.box {
		background-color: rgba(255, 255, 255, .9);
	}

	.image-box {
		background-color: rgba(255, 255, 255, .9);
	}
}


.small-icon {
	width: 16px;
}

table.noborder {
	border-collapse: collapse;
}

/*https://css-tricks.com/custom-scrollbars-in-webkit/*/
::-webkit-scrollbar {
	/* 1 */
	width: 10px;
}

::-webkit-scrollbar-button {
	/* 2 */
	background-color: #eee;
	height: 0px;
}

::-webkit-scrollbar-track {
	/* 3 */
	background-color: #eee;
}

::-webkit-scrollbar-track-piece {
	/* 4 */
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	/* 5 */
	background-color: #bbb;
	border: solid 1px #ddd;
	border-radius: 5px;
	width: 8px;
	margin: 1px;
}

::-webkit-scrollbar-corner {
	/* 6 */
}

::-webkit-resizer {
	/* 7 */
}
