body {
  /*background-color:#243341;*/
  background-color: #141d25;
  background-image: url("bg-dark.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}
.preview {
  background-color: #000e;
}
select,
input {
  border-color: #4c5e70;
  background-color: #24334155;
  color: #cfdae5;
}
select option {
  background-color: #243341;
  color: #cfdae5;
}
label {
  color: #8fa5bb;
}
hr {
  border-color: #4c5e70;
}
.page_title {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.page-info {
  color: #cfdae5;
  /*background-color:#202e3b;*/
  background-color: rgba(0, 0, 0, 0.2);
}
.item {
  border-color: #4c5e70;
  background-color: #3f506155;
  color: #8fa5bb;
}
.item-description {
  color: gray;
}
.item-version {
  color: gray;
}
.item-title {
  color: #cfdae5;
}
.item-path {
  color: #7a9fcc;
}
.item .box {
  background-color: rgba(0, 0, 0, 0.4);
}
.item .image-box {
  background-color: rgba(0, 0, 0, 0.7);
}
/*https://css-tricks.com/custom-scrollbars-in-webkit/*/
::-webkit-scrollbar {
  /* 1 */
  width: 10px;
}
::-webkit-scrollbar-button {
  /* 2 */
  background-color: #222;
  height: 0px;
}
::-webkit-scrollbar-track {
  /* 3 */
  background-color: #222;
}
::-webkit-scrollbar-track-piece {
  /* 4 */
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  /* 5 */
  background-color: #444;
  border: solid 1px black;
  border-radius: 3px;
  width: 8px;
  margin: 1px;
}
::-webkit-scrollbar-corner {
  /* 6 */
}
::-webkit-resizer {
  /* 7 */
}