:root {
	--volume-slider: #2ecc71;
	--volume-handle: #fff;
}

html {
	background-color: #222;
	color: #ccc;
}

select,
input {
	border-color: #4c5e70;
	background-color: #24334155;
	color: #cfdae5;
}

select option {
	background-color: #243341;
	color: #cfdae5;
}

.option_button {

	&.selected {
		background-color: #080;
		border-color: #080;
	}
}

.button {

	&.active-red {
		background-color: #e00;
		border-color: #a00;
	}

	&.active-green {
		background-color: #080;
		border-color: #080;
	}
}

.page-info {
	color: #cfdae5;
}
