:root {
  --volume-slider: #089345;
  --volume-handle: #666;
}
* {
  margin: 0;
  padding: 0;
  font-family: tahoma, Verdana;
  /*color:#a4a4a4;*/
  /*font-size:16px;*/
}
a {
  color: inherit;
}
.button {
  cursor: pointer;
  padding: 3px 6px 3px 6px;
  margin: 3px;
  border: solid 1px;
  border-radius: 3px;
  border-color: grey;
  display: inline-block;
}
.button.active-red {
  background-color: red;
}
.button.active-green {
  background-color: green;
}
iframe {
  border: none;
}
select,
input {
  width: 270px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  border: 1px solid gray;
  color: #222;
  padding: 7px 5px 7px 5px;
}
select option {
  color: #222;
  font-size: 14px;
  background-color: white;
}
.option_button {
  cursor: pointer;
  font-size: 12px;
  margin: 2px;
  display: inline-block;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 3px;
  min-width: 40px;
  text-align: center;
}
.page-info {
  color: #333;
  font-size: 12px;
  padding: 2px;
  /*background-color: rgba(255, 255, 255, .5);*/
}